@media(max-width:720px){
    .links-pc{
        display: none;
    }

    .contact .contact-container .container-icons-pc{
        display: none;
    }

    .nav{
        height: 60px;
    }

    *{
        font-size: 1rem;
    }
}

.nav{
    position: fixed;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #9b141a;
    z-index: 1000;
}

.nav .logo{
    margin-left: 15px;
}

.nav .logo h1{
    font-size: 1.5rem;
    color: #fff;
}

.nav .links-mobile{
    position: absolute;
    display: flex;
    top: 60px;
    right: 0px;
    flex-direction: column;
    height: 300px;
    width: 0%;
    background-color: #9b141a;
    transition: all 0.6s;
    
}

.nav .links-mobile .close-menu{
    height: 25px;
    width: auto;
    margin: 10px 0px 0px 20px;
    fill: #fff;
}

.nav .links-mobile li{
    margin: 20px 0px;
    text-align: center;
    color: #fff;

}

a:visited{
    color: #fff;
}

.nav .icon-open-menu-container{
    margin-right: 15px;
}

.nav .icon-open-menu-container .open-menu{
    height: 40px;
    width: auto;
    fill: #fff;
}

.about-us{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    padding: 0px 40px;
    text-align: center;
    background-image: 
    linear-gradient(
        0deg,
        rgba(0,0,0,1),
        rgba(0,0,0,0.5)
    ),
    url('../images/audi_interior.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.about-us p{
    margin: 20px 0px;
    color: #fff;
}

.service{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    padding: 20px 40px 20px 40px;
    text-align: center;
}

.service p{
    color: #000;
}

.service .tittle-service{
    padding: 20px 0px;
}

.service .tittle-service strong{
    color: #9b141a;
}

.service .service-description{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.2));
}

.service .service-description p{
    background-color: #9b141a;
    padding: 10px;
    border-radius: 1rem 1rem 0px 0px;
}

.service .service-description ul{
    background-color: #bdbdbd;
    border-radius: 0px 0px 1rem 1rem;
    padding: 10px;
}

.service .service-description li{
    color: #000;
}

.works{
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
}

.works p{
    padding: 10px 0px 10px 0px;
}

.works p strong{
    color: #9b141a;
}

.works .container-words-work{
    display: block;
}

.works .container-words-work p{
    color: #000;
}

.works .carousel-container{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.2));
    margin-top: 15px;
}

.works .images-container{
    width: 800%;
    height: 100%;
    display: flex;
}

.works .slider-section{
    width: calc(800% / 3);
    height: 100%;
}

.works .slider-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.works .btn-left, 
.btn-right{
    display: flex;
    position: absolute;
    color: #fff;
    top: 50%;
    background-color: rgba(216, 213, 213, 0.3);
    border-radius: 50%;
    cursor: pointer;
}

.works .btn-left{
    left: 3%;
}

.works .btn-right{
    right: 3%;
}

.works .arrow-left,
.arrow-right{
    fill: rgba(0, 0, 0, 0.5);
}

.location{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 40px 40px 20px 40px;
}

.location p{
    margin: 10px 0px;
}

.location p strong{
    color: #9b141a;
}

.location .container-words-location p{
    color: #000;
}

.location .google-maps{
    display: flex;
    justify-content: center;
    width: auto;
    height: 55%;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.2));
    margin: 15px 0px 5px 0px;
}

.location .direction{
    display: flex;
    padding: 20px;
    justify-content: center;
}

.location .direction .location-icon{
    width: auto;
    height: 30px;
    fill: #9b141a;
}

.location .direction p{
    margin: 4px 10px;
    color: #9b141a;
}

.contact{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    padding: 40px 40px 20px 40px;
    text-align: center;
}

.contact p strong{
    color: #9b141a;
}

.contact .container-icons-mobile{
    display: flex;
    justify-content: center;
    margin: 15px 0px;
}

.contact .wasap-icon{
    display: flex;
    fill: #fff;
    background-color: #25D366;
    border-radius: 0.3rem;
    padding: 5px;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 25px;
}

.contact .insta-icon{
    display: flex;
    fill: #fff;
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%, 
        #fd5949 45%, 
        #d6249f 60%, 
        #285AEB 90%
        );
    border-radius: 0.3rem;
    padding: 5px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 25px;
}

.footer{
    height: 25vh;
    background-color: #bdbdbd;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 10px 20px 10px;
    align-items: center;
}

.footer p{
    color: #000;
}

.footer .epic-auto-spa-logo img{
    width: 120px;
    height: auto;
    margin: 10px;
}