@media(min-width: 721px){
    *{
        font-size: 0.9rem;
    }

    .nav .links-mobile{
        display: none;
    }

    .nav .icon-open-menu-container{
        display: none;
    }

    .nav .links-pc ul{
        display: flex;
        position: relative;
        margin: 0px 20px;
        background-color: #222;
        padding: 10px 0px;
        border-radius: 8px;
    }

    .nav .links-pc li{
        margin: 0px 15px;
        z-index: 1000;
    }

    .nav .span{
        position: absolute;
        top: 0px;
        left: 0px;
        background: linear-gradient(45deg, #670d11, #cf1b24);
        border-radius: 8px;
        width: 120px;
        height: 35px;
        transition: 0.5s;
    }

    .nav .links-pc li:nth-child(1):hover~.span{
        left: 0;
    }
    .nav .links-pc li:nth-child(2):hover~.span{
        left: 120px;
        width: 80px;
        height: 35px;
    }
    .nav .links-pc li:nth-child(3):hover~.span{
        left: 200px;
        width: 130px;
        height: 35px;
    }
    .nav .links-pc li:nth-child(4):hover~.span{
        left: 330px;
        width: 95px;
        height: 35px;
    }
    .nav .links-pc li:nth-child(5):hover~.span{
        left: 425px;
        width: 85px;
        height: 35px;
    }


    .about-us{
        padding: 0px 100px;
    }

    .service{
        padding: 0px 100px;
    }

    .service .tittle-service{
        text-align: start;
        color: #9b141a;
    }

    .service .tittle-service strong{
        font-size: 1.3rem;
    }

    .service .service-description{
        width: 300px;
        margin: 30px 0px;
        align-self: center;
    }

    .works{
        padding: 20px 100px;
    }

    .works p{
        text-align: start;
        color: #9b141a;
        padding-left: 0px;
        padding-bottom: 0px;
    }

    .works p strong{
        font-size: 1.3rem;
    }

    .works .container-words-work{
        display: flex;
        padding-bottom: 20px;
    }

    .container-words-work p{
        color: #000;
        text-align: center;
    }

    .works .carousel-container{
        height: 350px;
        width: 400px;
        align-self: center;
    }

    .location{
        padding: 20px 100px;
    }

    .location p{
        text-align: start;
        color: #9b141a;
    }

    .location p strong{
        font-size: 1.3rem;
    }

    .location .container-words-location p{
        color: #000;
        text-align: center;
    }

    .location .google-maps{
        height: 300px;  
        margin: 20px 0px;
    }

    .location .google-maps iframe{
        width: 400px;
        height: 300px;
    }

    .contact{
        padding: 30px 100px;
        justify-content: center;
    }

    .contact p{
        text-align: start;
    }

    .contact p strong{
        font-size: 1.3rem;
        color: #9b141a;
    }

    .contact .contact-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .contact .container-icons-mobile{
        display: none;
    }

    .contact .container-icons-pc{
        display: flex;
        flex-direction: column;
        margin-right: 40px;
    }

    .contact .logo-contact img{
        width: 90%;
    }

    .contact .container-socialmedia{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 20px 0px;
    }

    .contact .wasap-icon2{
        display: flex;
        fill: #fff;
        background: #000;
        border-radius: 0.3rem;
        padding: 5px;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 50px;
        margin-left: 10px;
    }

    .contact .wasap-icon2:hover{
        background-color: #25D366;
    }
    
    .contact .insta-icon2{
        display: flex;
        fill: #fff;
        background: #000;
        border-radius: 0.3rem;
        padding: 5px;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 50px;
        margin-right: 10px;
    }

    .contact .insta-icon2:hover{
        background: radial-gradient(
            circle at 30% 107%,
            #fdf497 0%,
            #fdf497 5%, 
            #fd5949 45%, 
            #d6249f 60%, 
            #285AEB 90%
            );
    }

    .contact .contact-form-container{
        margin-left: 40px;
    }
}

@media(min-width: 1024px){
    *{
        font-size: 1.1rem;
    }

    .nav .span{
        position: absolute;
        top: 0px;
        left: 0px;
        background: linear-gradient(45deg, #670d11, #cf1b24);
        border-radius: 8px;
        width: 165px;
        height: 43px;
        transition: 0.5s;
    }

    .nav .links-pc li:nth-child(1):hover~.span{
        left: 0;
        width: 165px;
        height: 43px;
    }
    .nav .links-pc li:nth-child(2):hover~.span{
        left: 165px;
        width: 100px;
        height: 43px;
    }
    .nav .links-pc li:nth-child(3):hover~.span{
        left: 265px;
        width: 190px;
        height: 43px;
    }
    .nav .links-pc li:nth-child(4):hover~.span{
        left: 455px;
        width: 110px;
        height: 43px;
    }
    .nav .links-pc li:nth-child(5):hover~.span{
        left: 570px;
        width: 116px;
        height: 43px;
    }

    .service .service-description{
        width: 600px;
    }

    .works .carousel-container{
        height: 400px;
        width: 600px;
        align-self: center;
    }

    .location .google-maps iframe{
        width: 550px;
        height: 300px;
    }
}