.contact .contact-form-container{
    border-style: solid;
    border-color: #9b141a;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.contact .contact-form-container form{
    display: flex;
    flex-direction: column;
}

.contact .contact-form-container input{
    margin: 10px;
    border-radius: 0.3rem;
    color: #000;
    background-color: rgb(244, 244, 244);
    border: 2px solid rgb(244, 244, 244);
    outline: none;
}

.contact .contact-form-container label{
    margin: 5px;
    color: #9b141a;
}

.contact .contact-form-container textarea{
    resize: none;
    height: 200px;
    border-radius: 0.3rem;
    background-color: rgb(244, 244, 244);
    border: 2px solid rgb(244, 244, 244);
    outline: none;
}

.contact .contact-form-container .submit{
    background-color: #b32b31;
    color: #fff;
    border: 2px solid #faf0f0;
}

.contact .contact-form-container .submit:hover{
    background-color: #721e22;
    color: #fff;
}