.contact .contact-form-container{
    border-style: solid;
    border-color: #9b141a;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px;
}

.contact .contact-form-container form{
    display: flex;
    flex-direction: column;
}

.contact .contact-form-container input{
    margin: 10px;
    border-radius: 0.3rem;
    color: #000;
}

.contact .contact-form-container label{
    margin: 5px;
    color: #9b141a;
}

.contact .contact-form-container textarea{
    resize: none;
    height: 200px;
    border-radius: 0.3rem;
}